################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MS.S3API/bin
/MS.S3API/obj
/.vs
